.footer::before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background-image:url('../img/bg-footer.png');
    background-size: cover;
    background-position: top;
}
.footer {
    padding-top: 80px;
    position: relative;
}
.footer__copy{
    font-weight: 300;
    font-size: 14px;
    text-align: center;
    padding: 74px 0 60px 0;
}
@media (max-width: 850px) {
    .footer__content h2{
        font-size: 40px;
        line-height: 50px;
    }
}
@media (max-width: 768px) {
    .footer {
        padding-top: 10%;
    }
    .footer__content h2{
        font-size: 30px;
        line-height: 35px;
    }
    .footer__copy{
        padding: 10% 0 8% 0;
    }
}
@media (max-width: 420px) {
    .footer__content h2{
        font-size: 20px;
        line-height: 25px;
    }
}
